<div class="row">
    <div class="col-md-7">
        {{#each question.answers as |answer|}}
            <div id="tb-testimonial" class="testimonial testimonial-info">
                <div class="testimonial-section">
                    {{answer.body}}
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">{{answer.author}}</div>
                        <div class="testimonial-writer-designation">{{answer.job}}</div>
                        <a href="#" class="testimonial-writer-company">{{answer.company}}</a>
                        <div class="testimonial-writer-designation">{{answer.date}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>


</div>
